@charset "UTF-8";

@mixin editor-styles() {
	.is-style-font-size {
		&-xs {
			font-size: var(--font-size-xs);
		}
		&-sm {
			font-size: var(--font-size-sm);
		}
		&-base {
			font-size: var(--font-size-base);
		}
		&-lg {
			font-size: var(--font-size-lg);
		}
		&-md {
			font-size: var(--font-size-md);
		}
		&-xl {
			font-size: var(--font-size-xl);
		}
		&-xxl {
			font-size: var(--font-size-xxl);
		}
		&-3xl {
			font-size: var(--font-size-3xl);
		}
		&-4xl {
			font-size: var(--font-size-4xl);
		}
		&-5xl {
			font-size: var(--font-size-5xl);
		}
		&-6xl {
			font-size: var(--font-size-6xl);
		}
	}
}

// フロント用スタイル（直接出力）
.is-style {
	&-font-size {
		&-xs {
			font-size: var(--font-size-xs);
		}
		&-sm {
			font-size: var(--font-size-sm);
		}
		&-base {
			font-size: var(--font-size-base);
		}
		&-lg {
			font-size: var(--font-size-lg);
		}
		&-md {
			font-size: var(--font-size-md);
		}
		&-xl {
			font-size: var(--font-size-xl);
		}
		&-xxl {
			font-size: var(--font-size-xxl);
		}
		&-3xl {
			font-size: var(--font-size-3xl);
		}
		&-4xl {
			font-size: var(--font-size-4xl);
		}
		&-5xl {
			font-size: var(--font-size-5xl);
		}
		&-6xl {
			font-size: var(--font-size-6xl);
		}
	}
}
