@charset "UTF-8";

.p-global-nav {
	margin-right: 4em;
}

.lang_switch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 3em;
	list-style: none;
	padding-left: 0;
	position: fixed;
	right: 1rem;
	top: 0.5rem;
	transition: all 0.3s;
	width: 3em;
	z-index: 10000;

	@media (min-width: 1024px) {
		top: 1.2rem;
	}

	.lang-item {
		a {
			background: #eadfbc;
			border: 1px solid #94723a;
			border-radius: 50%;
			color: var(--color--text-body);
			display: block;
			font-weight: 600;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				background: #94723a;
				color: #fff;
			}
		}
	}
}
