@charset "UTF-8";

:root {
	--color-01: #28839b;
	--color-02: #6ec6cd;
	--color-03: #0c6a83;
	--color-04: #fa7c45;
	--color-05: #dd4877;
	--color-06: #0a77d0;
	--color-07: #71dcff;
	--color-08: #1c62af;

	// Backgrounds
	--color-bg-01: #f7f7f7; // Background-01
	--color-bg-02: #eff8fa; // Background-02

	--color-black: #000;
	--color-white: #fff;
	--color-border: #bbb;

	// Text
	--color--text-body: #222;

	--wp--preset--color--color-01: var(--color-01);
	--wp--preset--color--color-02: var(--color-02);
	--wp--preset--color--color-03: var(--color-03);
	--wp--preset--color--color-04: var(--color-04);
	--wp--preset--color--color-05: var(--color-05);
	--wp--preset--color--color-06: var(--color-06);
	--wp--preset--color--color-07: var(--color-07);
	--wp--preset--color--color-08: var(--color-08);

	/*
	 * Override Snow Monkey
	 */
	--smb-section--color: var(--color-text-body);
	--_color-text: var(--color--text-body);
	--_light-color-gray: #eaeaeb;

	--_global--border-radius: 0;
	// --smb-btn--style--ghost--colo: var(--color--text-body);
	// --smb-btn--style--ghost--border-color: var(--color--text-body);

	// --_space: 1.125rem;
	--_form-control-border-color: #cdcdcd;
	--_form-control-border-color-focus: var(--color--outline);
	--smb-section--color: var(--_color-text);
}

// Font
:root {
	// Font family
	--font-family: "Noto Sans JP", sans-serif;
	--font-family-serif: "Noto Serif JP", serif;
	// --font-family-alex: "Alex Brush", cursive;

	// Font size
	--font-size-xs: clamp(0.625rem, 0.563rem + 0.25vw, 0.75rem); // 10px 12px
	--font-size-sm: clamp(0.75rem, 0.688rem + 0.25vw, 0.875rem); // 12px 14px
	--font-size-base: clamp(0.875rem, 0.813rem + 0.25vw, 1rem); // 14px 16px
	--font-size-md: clamp(1rem, 0.938rem + 0.25vw, 1.125rem); // 16px 18px
	--font-size-lg: clamp(1.125rem, 1.063rem + 0.25vw, 1.25rem); // 18px 20px
	--font-size-xl: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem); // 20px 24px
	--font-size-xxl: clamp(1.375rem, 1.188rem + 0.75vw, 1.75rem); // 22px 28px
	--font-size-3xl: clamp(1.5rem, 1.25rem + 1vw, 2rem); // 24px 32px
	--font-size-4xl: clamp(1.625rem, 1.187rem + 1.75vw, 2.5rem); // 26px 40px
	--font-size-5xl: clamp(1.75rem, 1.125rem + 2.5vw, 3rem); // 28px 48px
	--font-size-6xl: clamp(1.875rem, 0.812rem + 4.25vw, 4rem); // 30px 64px
	// --font-size-xxl: clamp(1.5rem, 1.375rem + 0.5vw, 1.75rem); // 24px 28px
	// --font-size-3xl: clamp(1.75rem, 1.625rem + 0.5vw, 2rem); // 28px 32px
	// --font-size-4xl: clamp(2rem, 1.75rem + 1vw, 2.5rem); // 32px 40px
	// --font-size-5xl: clamp(2.5rem, 2.25rem + 1vw, 3rem); // 40px 48px
	// --font-size-6xl: clamp(3rem, 2.5rem + 2vw, 4rem); // 48px 64px
}

body {
	--wp--preset--font-size--x-large: var(--font-size-xl);
	--wp--preset--font-size--sm-xsmall: var(--font-size-xs);
	--wp--preset--font-size--sm-small: var(--font-size-sm);
	--wp--preset--font-size--sm-normal: var(--font-size-base);
	--wp--preset--font-size--sm-medium: var(--font-size-md);
	--wp--preset--font-size--sm-large: var(--font-size-lg);
	--wp--preset--font-size--sm-xlarge: var(--font-size-xl);
	--wp--preset--font-size--sm-xxlarge: var(--font-size-xxl);
	--wp--preset--font-size--sm-xxxlarge: var(--font-size-3xl);
}

.has-small-font-size {
	font-size: var(--font-size-sm) !important;
}

.has-medium-font-size {
	font-size: var(--font-size-md) !important;
}

.has-large-font-size {
	font-size: var(--font-size-lg) !important;
}

.has-huge-font-size {
	font-size: var(--font-size-xxl) !important;
}

.has-sm-small-font-size {
	font-size: var(--font-size-sm) !important;
}

.has-sm-normal-font-size {
	font-size: var(--font-size-base) !important;
}

.has-sm-medium-font-size {
	font-size: var(--font-size-md) !important;
}

.has-sm-large-font-size {
	font-size: var(--font-size-lg) !important;
}

.has-sm-xlarge-font-size {
	font-size: var(--font-size-xl) !important;
}

.has-sm-xxlarge-font-size {
	font-size: var(--font-size-xxl) !important;
}

.has-sm-xxxlarge-font-size {
	font-size: var(--font-size-3xl) !important;
}

.has-sm-xs-font-size {
	font-size: var(--font-size-xs) !important;
}

.has-sm-s-font-size {
	font-size: var(--font-size-sm) !important;
}

.has-sm-m-font-size {
	font-size: var(--font-size-md) !important;
}

.has-sm-l-font-size {
	font-size: var(--font-size-lg) !important;
}

.has-sm-xl-font-size {
	font-size: var(--font-size-xl) !important;
}

.has-sm-2-xl-font-size {
	font-size: var(--font-size-xxl) !important;
}

.has-sm-3-xl-font-size {
	font-size: var(--font-size-3xl) !important;
}

.has-sm-4-xl-font-size {
	font-size: var(--font-size-4xl) !important;
}

.has-sm-5-xl-font-size {
	font-size: var(--font-size-5xl) !important;
}

.has-sm-6-xl-font-size {
	font-size: var(--font-size-6xl) !important;
}
