:root {
  --color-01: #28839b;
  --color-02: #6ec6cd;
  --color-03: #0c6a83;
  --color-04: #fa7c45;
  --color-05: #dd4877;
  --color-06: #0a77d0;
  --color-07: #71dcff;
  --color-08: #1c62af;
  --color-bg-01: #f7f7f7;
  --color-bg-02: #eff8fa;
  --color-black: #000;
  --color-white: #fff;
  --color-border: #bbb;
  --color--text-body: #222;
  --wp--preset--color--color-01: var(--color-01);
  --wp--preset--color--color-02: var(--color-02);
  --wp--preset--color--color-03: var(--color-03);
  --wp--preset--color--color-04: var(--color-04);
  --wp--preset--color--color-05: var(--color-05);
  --wp--preset--color--color-06: var(--color-06);
  --wp--preset--color--color-07: var(--color-07);
  --wp--preset--color--color-08: var(--color-08);
  /*
   * Override Snow Monkey
   */
  --smb-section--color: var(--color-text-body);
  --_color-text: var(--color--text-body);
  --_light-color-gray: #eaeaeb;
  --_global--border-radius: 0;
  --_form-control-border-color: #cdcdcd;
  --_form-control-border-color-focus: var(--color--outline);
  --smb-section--color: var(--_color-text);
}

:root {
  --font-family: "Noto Sans JP", sans-serif;
  --font-family-serif: "Noto Serif JP", serif;
  --font-size-xs: clamp(0.625rem, 0.563rem + 0.25vw, 0.75rem);
  --font-size-sm: clamp(0.75rem, 0.688rem + 0.25vw, 0.875rem);
  --font-size-base: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
  --font-size-md: clamp(1rem, 0.938rem + 0.25vw, 1.125rem);
  --font-size-lg: clamp(1.125rem, 1.063rem + 0.25vw, 1.25rem);
  --font-size-xl: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem);
  --font-size-xxl: clamp(1.375rem, 1.188rem + 0.75vw, 1.75rem);
  --font-size-3xl: clamp(1.5rem, 1.25rem + 1vw, 2rem);
  --font-size-4xl: clamp(1.625rem, 1.187rem + 1.75vw, 2.5rem);
  --font-size-5xl: clamp(1.75rem, 1.125rem + 2.5vw, 3rem);
  --font-size-6xl: clamp(1.875rem, 0.812rem + 4.25vw, 4rem);
}

body {
  --wp--preset--font-size--x-large: var(--font-size-xl);
  --wp--preset--font-size--sm-xsmall: var(--font-size-xs);
  --wp--preset--font-size--sm-small: var(--font-size-sm);
  --wp--preset--font-size--sm-normal: var(--font-size-base);
  --wp--preset--font-size--sm-medium: var(--font-size-md);
  --wp--preset--font-size--sm-large: var(--font-size-lg);
  --wp--preset--font-size--sm-xlarge: var(--font-size-xl);
  --wp--preset--font-size--sm-xxlarge: var(--font-size-xxl);
  --wp--preset--font-size--sm-xxxlarge: var(--font-size-3xl);
}

.has-small-font-size {
  font-size: var(--font-size-sm) !important;
}

.has-medium-font-size {
  font-size: var(--font-size-md) !important;
}

.has-large-font-size {
  font-size: var(--font-size-lg) !important;
}

.has-huge-font-size {
  font-size: var(--font-size-xxl) !important;
}

.has-sm-small-font-size {
  font-size: var(--font-size-sm) !important;
}

.has-sm-normal-font-size {
  font-size: var(--font-size-base) !important;
}

.has-sm-medium-font-size {
  font-size: var(--font-size-md) !important;
}

.has-sm-large-font-size {
  font-size: var(--font-size-lg) !important;
}

.has-sm-xlarge-font-size {
  font-size: var(--font-size-xl) !important;
}

.has-sm-xxlarge-font-size {
  font-size: var(--font-size-xxl) !important;
}

.has-sm-xxxlarge-font-size {
  font-size: var(--font-size-3xl) !important;
}

.has-sm-xs-font-size {
  font-size: var(--font-size-xs) !important;
}

.has-sm-s-font-size {
  font-size: var(--font-size-sm) !important;
}

.has-sm-m-font-size {
  font-size: var(--font-size-md) !important;
}

.has-sm-l-font-size {
  font-size: var(--font-size-lg) !important;
}

.has-sm-xl-font-size {
  font-size: var(--font-size-xl) !important;
}

.has-sm-2-xl-font-size {
  font-size: var(--font-size-xxl) !important;
}

.has-sm-3-xl-font-size {
  font-size: var(--font-size-3xl) !important;
}

.has-sm-4-xl-font-size {
  font-size: var(--font-size-4xl) !important;
}

.has-sm-5-xl-font-size {
  font-size: var(--font-size-5xl) !important;
}

.has-sm-6-xl-font-size {
  font-size: var(--font-size-6xl) !important;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 2;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.smb-section__title {
  font-weight: 900;
  line-height: 1.25 !important;
}

h2 {
  font-size: var(--font-size-xxl);
}
h2.smb-section__title {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}
h3.smb-section__title {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}
h4.smb-section__title {
  font-size: var(--font-size-lg);
}

h5 {
  font-size: var(--font-size-md);
}

h6 {
  font-size: var(--font-size-base);
}

/* header */
.c-page-header__title {
  font-size: var(--font-size-xl);
}

.c-entry-summary__title {
  font-size: var(--font-size-lg);
}

.c-entries--panel .c-entry-summary__title {
  font-size: var(--font-size-3xl);
}

/* footer */
.l-footer--default {
  border-top: 0;
}
.l-footer--default .wp-block-list {
  list-style: none;
  padding-left: 0;
}
.l-footer--default a {
  text-decoration: none;
}
.l-footer--default a:hover {
  color: var(--color-primary-light);
}

.footer-menu {
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.c-copyright.c-copyright--inverse {
  background-color: #333;
  color: #fff;
}

.is-style-font-size-xs {
  font-size: var(--font-size-xs);
}
.is-style-font-size-sm {
  font-size: var(--font-size-sm);
}
.is-style-font-size-base {
  font-size: var(--font-size-base);
}
.is-style-font-size-lg {
  font-size: var(--font-size-lg);
}
.is-style-font-size-md {
  font-size: var(--font-size-md);
}
.is-style-font-size-xl {
  font-size: var(--font-size-xl);
}
.is-style-font-size-xxl {
  font-size: var(--font-size-xxl);
}
.is-style-font-size-3xl {
  font-size: var(--font-size-3xl);
}
.is-style-font-size-4xl {
  font-size: var(--font-size-4xl);
}
.is-style-font-size-5xl {
  font-size: var(--font-size-5xl);
}
.is-style-font-size-6xl {
  font-size: var(--font-size-6xl);
}

.p-global-nav {
  margin-right: 4em;
}

.lang_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 3em;
  list-style: none;
  padding-left: 0;
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 3em;
  z-index: 10000;
}
@media (min-width: 1024px) {
  .lang_switch {
    top: 1.2rem;
  }
}
.lang_switch .lang-item a {
  background: #eadfbc;
  border: 1px solid #94723a;
  border-radius: 50%;
  color: var(--color--text-body);
  display: block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.lang_switch .lang-item a:hover {
  background: #94723a;
  color: #fff;
}