:root {
  --color-01: #343434;
  --color-02: #696969;
  --color-03: #f7f2f5;
  --color-04: #8bb8a3;
  --color-05: #b05f5f;
  --color-06: #d87b7b;
  --color-07: #cfb9b9;
  --color-08: #e3d6d6;
  --color-09: #bcab80;
  --color-10: #e2debc;
  --wp--preset--color--color-01: #343434;
  --wp--preset--color--color-02: #696969;
  --wp--preset--color--color-03: #e3e3df;
  --wp--preset--color--color-04: #8bb8a3;
  --wp--preset--color--color-05: #b05f5f;
  --wp--preset--color--color-06: #d87b7b;
  --wp--preset--color--color-07: #cfb9b9;
  --wp--preset--color--color-08: #e3d6d6;
  --wp--preset--color--color-09: #bcab80;
  --wp--preset--color--color-10: #e2debc;
}

.is-style-pattern_1 {
  border-bottom: 1px solid #707070;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.is-style-pattern_2 {
  padding-bottom: 6px;
  text-align: center;
  position: relative;
}
.is-style-pattern_2::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
  border-bottom: 6px solid #868686;
}
.is-style-pattern_2::after {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  border-bottom: 6px solid #5c5c5c;
}

.is-style-pattern_3 {
  position: relative;
}
.is-style-pattern_3::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 36%;
  width: 30px;
  height: 10px;
  margin-left: -50px;
  background: #e2debc;
}

.editor-styles-wrapper .is-style-pattern_1 {
  border-bottom: 1px solid #707070;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.editor-styles-wrapper .is-style-pattern_2 {
  padding-bottom: 6px;
  text-align: center;
  position: relative;
}
.editor-styles-wrapper .is-style-pattern_2::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
  border-bottom: 6px solid #868686;
}
.editor-styles-wrapper .is-style-pattern_2::after {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  border-bottom: 6px solid #5c5c5c;
}
.editor-styles-wrapper .is-style-pattern_3 {
  position: relative;
}
.editor-styles-wrapper .is-style-pattern_3::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 36%;
  width: 30px;
  height: 10px;
  margin-left: -50px;
  background: #e2debc;
}