@charset "UTF-8";

@mixin editor-styles() {
	.is-style-pattern_1 {
		border-bottom: 1px solid #707070;
		width: fit-content;
		text-align: center;
	}
	.is-style-pattern_2 {
		padding-bottom: 6px;
		text-align: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 50%;
			left: 0;
			bottom: 0;
			border-bottom: 6px solid #868686;
		}
		&::after {
			content: "";
			position: absolute;
			width: 50%;
			right: 0;
			bottom: 0;
			border-bottom: 6px solid #5c5c5c;
		}
	}
	.is-style-pattern_3 {
		position: relative;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 36%;
			width: 30px;
			height: 10px;
			margin-left: -50px;
			background: #e2debc;
		}
	}
}

// フロント用スタイル（直接出力）
.is-style-pattern_1 {
	border-bottom: 1px solid #707070;
	width: fit-content;
	text-align: center;
}
.is-style-pattern_2 {
	padding-bottom: 6px;
	text-align: center;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 50%;
		left: 0;
		bottom: 0;
		border-bottom: 6px solid #868686;
	}
	&::after {
		content: "";
		position: absolute;
		width: 50%;
		right: 0;
		bottom: 0;
		border-bottom: 6px solid #5c5c5c;
	}
}
.is-style-pattern_3 {
	position: relative;
	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: 36%;
		width: 30px;
		height: 10px;
		margin-left: -50px;
		background: #e2debc;
	}
}
