@charset "UTF-8";

:root {
	--color-01: #343434;
	--color-02: #696969;
	--color-03: #f7f2f5;
	--color-04: #8bb8a3;
	--color-05: #b05f5f;
	--color-06: #d87b7b;
	--color-07: #cfb9b9;
	--color-08: #e3d6d6;
	--color-09: #bcab80;
	--color-10: #e2debc;

	--wp--preset--color--color-01: #343434;
	--wp--preset--color--color-02: #696969;
	--wp--preset--color--color-03: #e3e3df;
	--wp--preset--color--color-04: #8bb8a3;
	--wp--preset--color--color-05: #b05f5f;
	--wp--preset--color--color-06: #d87b7b;
	--wp--preset--color--color-07: #cfb9b9;
	--wp--preset--color--color-08: #e3d6d6;
	--wp--preset--color--color-09: #bcab80;
	--wp--preset--color--color-10: #e2debc;
}
